* {
    font-family: Montserrat;
}

body > p:first-child {
    text-transform: uppercase;
}




li {
    margin-left: 35px;
}

.boz {
    color: grey;
}

.benovse {
    color: #120A8F;
}

li {

    line-height: 25px;
}